:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primari-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color-dark: #2f303a;
  --secondary-background-color-light: #f5f4fa;
  --logo-black: #000000;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.48px;
}

.list {
  list-style: none;
}

/* Button */

.button {
}

.button.primary {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color-light);

  font-family: inherit;
}
.button.primary:hover {
  color: var(--primari-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
}

.button.secondary {
  color: var(--primari-white-color);
  background-color: var(--accent-color);
}
/* Палитра:

Цвет основного текста - #757575
Вторичный цвет текста -  #212121
Акцент - #2196F3
Белый цвет - #FFFFFF
Блый с прозрачностью - rgba(255, 255, 255, 0.6)
Вторичный цвет фона #2F303A
*/

/* Header */
/* Лого */
.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}

.logo-accent {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.48px;
  font-weight: 500;
}
.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.48px;
  font-weight: 500;
}

.contacts-nav .link:focus,
.contacts-nav .link:hover {
  color: var(--accent-color);
}

/* Стили для index.html */

/* Hero */
.hero {
  background-color: var(--secondary-background-color-dark);
}

.hero-title {
  color: var(--primari-white-color);

  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.96px;
  font-weight: 900;
  text-align: center;
}

/* Section */
.title,
.section-title {
  color: var(--title-text-color);
}

/* Features */

/* Activities */

/* Team */
.team {
  background-color: var(--secondary-background-color-light);
}

/* Footer  */

.footer {
  background-color: #2f303a;
}

.adress-list .link {
  color: var(--secondary-white-color);
}
.adress {
  color: var(--primari-white-color);
}

/* Стили для portfolio.html */

.cards .text {
  color: var(--primary-text-color);
}

/* Уберет подчеркивание с ссылок */
/* .portfolio a {
  text-decoration: none;
} */
